In [1]:
import pandas as pd

## Load data

In [3]:
data = pd.read_excel("data_test.xlsx")

In [4]:
data.head()

,ID_puit_or,Pays,Localite_1,puits_AGES,Long_x_DD,Lat_y_DD,Elev_v1,GeoE_unt1,Prof_m,NS_date,...,Aq_Toit_ma,Litho_1,Strat_3,Geology_final,GeoMap_modif,Geo_Bore,SRTM_v3_30,X_utm,Y_utm,Piezo_AB
0,K01,Bénin,Gouré Sendé 1,puits ouvert,3.49683,11.62868,222,Continental hamadien (Illo-Gundumi),26.05,16.02.2014,...,NaN,NaN,NaN,CH,CH,NaN,222,554157.985,1285541.667,203.03
1,K02,Bénin,Koaratedji Sendé,forage equipé (FE),3.49979,11.60476,213,Continental hamadien (Illo-Gundumi),67.15,16.02.2014,...,NaN,NaN,NaN,CH,CH,NaN,213,554485.300,1282897.184,200.28
2,K03,Bénin,Koaratedji Centre,puits ouvert,3.47719,11.60317,266,Formation Wéré,28.65,16.02.2014,...,NaN,NaN,NaN,Kandi,Kandi,NaN,266,552021.770,1282717.139,247.02
3,K04,Bénin,Kassa 2,puits ouvert,3.49200,11.60319,229,Continental hamadien (Illo-Gundumi),15.45,16.02.2014,...,NaN,NaN,NaN,CH,CH,NaN,229,553636.342,1282722.097,217.58
4,K05,Bénin,Kassa 1,forage equipé (FE),3.50707,11.57905,201,Formation Kandi,NaN,16.02.2014,...,NaN,NaN,NaN,Kandi,Kandi,NaN,201,555284.014,1280055.604,NaN

## EDA

In [5]:
data[["Strat_3"]].value_counts()

Strat_3
Socle                                 2300
Sédimentaire                           439
Grès de Kandi                          211
CT3                                    201
CT                                     154
Gundumi Formation                      141
CT2                                    139
multiple                               100
Quaternaire                             94
Rima Group                              93
Rima Group (Taloka-Wurno)               87
CT (Gwandu)                             73
CIH                                     49
CH                                      47
CT1                                     43
Socle pénéplané                         42
Quaternaire (alluvial)                  34
Grès de Buem                            33
Grès de Kandi (Wéré)                    29
CI                                      28
Sokoto Group                            25
Illo Formation                          24
Grès de Kandi (Kandi)                   23
Grès de Kandi (sur Socle?)              23
Socle ?                                 23
Quaternaire (litoral)                   22
Sokoto / Rima Group                     22
CT2-3                                   15
Gundumi-Illo Formation                  13
CT (Gwandu), profonde                    9
Grès de Kandi / CI ?                     7
Sokoto Group (Kalambaina)                7
CT1-2                                    6
Sédimentaire / Socle                     6
CT (Gwandu) profonde                     4
Quaternaire (litoral) (sur socle?)       3
Eze-Aku Shale                            2
Socle (Atacorien)                        2
CH / Quaternaire (colluvial) ?           2
Younger Granites                         2
Sédimentaire (sur socle)                 1
Sokoto Group (Kalambaina) ?              1
Awgu-eaboh                               1
Socle (Alterite)                         1
Rima Group (Wurno)                       1
Rima Group (Taloka)                      1
Lafia Sandstone                          1
Grès de Kandi / CH                       1
CH / Quaternaire (alluvial) ?            1
Gundumi-Rima Formation ?                 1
dtype: int64

In [12]:
clean_data = data[data["Strat_3"].isin(["CT3", "CT2","CT1", "Grès de Kandi"])]

In [13]:
clean_data.head()

,ID_puit_or,Pays,Localite_1,puits_AGES,Long_x_DD,Lat_y_DD,Elev_v1,GeoE_unt1,Prof_m,NS_date,...,Aq_Toit_ma,Litho_1,Strat_3,Geology_final,GeoMap_modif,Geo_Bore,SRTM_v3_30,X_utm,Y_utm,Piezo_AB
180,AGES2-Nig01-01,Niger,Kouloumbou,forage,3.31632,13.02805,246,Continental Terminal 3: Grès argileux du Moyen...,NaN,01.12.2016,...,NaN,Sédimentaire,CT2,CT2,CT3,CT2,246,534298.473,1440259.013,189.27
181,AGES2-Nig01-02,Niger,Goubey Dey,forage,3.86068,13.39896,266,Continental Terminal 3: Grès argileux du Moyen...,NaN,01.12.2016,...,NaN,Sédimentaire,CT2,CT2,CT3,CT2,266,593185.125,1481418.086,208.06
183,AGES2-Nig01-04,Niger,Tibiri Artésien,forage,4.00389,13.11206,211,Dépôts alluviaux,NaN,01.12.2016,...,NaN,Sédimentaire,CT2,CT2,Alluvial,CT2,211,608819.177,1449744.352,NaN
184,AGES2-Nig01-05,Niger,Angoua-Doua,forage,3.58748,12.78129,224,Continental Terminal 3: Grès argileux du Moyen...,NaN,01.12.2016,...,NaN,Sédimentaire,CT2,CT2,CT3,CT2,224,563763.471,1413021.931,NaN
188,AGES2-Nig01-10,Niger,Adiga Lele,forage,3.35034,12.23423,222,Continental Terminal 3: Grès argileux du Moyen...,NaN,01.12.2016,...,NaN,Sédimentaire,CT2,CT2,CT3,CT2,222,538104.667,1352479.235,192.39

In [16]:
clean_data.count()

ID_puit_or       472
Pays             594
Localite_1       594
puits_AGES       330
Long_x_DD        594
Lat_y_DD         594
Elev_v1          594
GeoE_unt1        594
Prof_m           290
NS_date          321
NS_date_2        481
NS_mois          412
NS_annee         538
Season           594
NS_m_calc        387
Nappe_typ1       368
Nappe_typ2       368
Aq_Toit_m        352
Aq_mur_m         232
Aq_Toit_ma         0
Litho_1          594
Strat_3          594
Geology_final    594
GeoMap_modif     594
Geo_Bore         594
SRTM_v3_30       594
X_utm            594
Y_utm            594
Piezo_AB         386
dtype: int64

In [19]:
clean_data[["NS_date_2"]].value_counts()

NS_date_2
pre 1970      111
2015/2016      49
01.01.2014     42
01.03.2013     29
01.12.2016     15
             ...
09.07.2002      1
09.05.2011      1
09.05.1996      1
08.12.2018      1
13.12.2011      1
Length: 150, dtype: int64

In [20]:
clean_data[["NS_date"]].value_counts()

NS_date
01.01.2014    42
01.03.2013    29
01.12.2016    14
12.11.2009     5
19.11.2016     5
              ..
12.05.2011     1
12.10.2009     1
12.11.1998     1
13.03.1998     1
31.12.1998     1
Length: 175, dtype: int64

In [21]:
clean_data[["NS_annee"]].value_counts()

NS_annee
1970.0      114
1998.0       96
1985.0       54
2014.0       42
2013.0       38
2016.0       24
2007.0       20
2009.0       18
2019.0       15
2011.0       13
1984.0       11
2017.0       11
2002.0       11
1999.0        9
2000.0        8
2006.0        8
2005.0        7
1969.0        6
2003.0        5
2004.0        5
1995.0        4
1986.0        4
2018.0        3
1968.0        2
1996.0        1
2008.0        1
2010.0        1
1989.0        1
2012.0        1
1988.0        1
2015.0        1
1972.0        1
1971.0        1
1965.0        1
dtype: int64